* { /*configuracion para quitar la del navegador*/
    padding: 0; /*relleno de 0*/
    margin: 0; /*margin de 0*/
    box-sizing: border-box; /*box-sizing nos permite incluir el relleno y el borde en la anchura y altura totales de un elemento.*/
}

body { /*cambiamos el color de la pagina*/
    background: #ddeefc; /*le damos un color al fondo*/
    font-family: 'Lato', sans-serif; /*escogemos un tipo de fuente, y en este caso si no encuentra un tipo de letra, escogera el otro estilo*/
}

/*EMPIEZA LA SECCION DEL ESTILO DEL CONTENEDOR GENERAL*/
.contenedor { /*configuramos el contenedor general*/
    width: 90%; /*le damos un ancho de pagina*/
    max-width: 1000px; /*pero le decimos que como maximo tenga solo 1000px de ancho*/
    padding: 40px 20px; /*que tenga un relleno de 40px arriba, y 20px a los lados*/
    margin: auto; /*le decimos que tenga un margen auto para centrar la pagina de forma horizontal*/
    display: flex; /*todo el contenido dentro del contenedor, es decir, los hijos, los quiero trabajar con el display*/
    flex-direction: column; /*esta configuracion es para que nos configure y alinie los elementos en forma de columna (la tarjeta, el boton y el formulario) y no se coloquen uno al lado del otro*/
    align-items: center; /*no podemos ocupar la propiedad de justify-content:center, esto es porque utilizamos el flex-direction:column, en su lugar usamos align-items:center*/
}

/*--ESTILOS GENERALES DE LAS TARJETAS--*/
.tarjeta { /*accedemos a la seccion de la tarjeta*/
    width: 100%; /*le damos un ancho del 100%*/
    max-width: 550px; /*para que la tarjeta no sea demasiado grande porque en realidad es casi del tamaño de una real tarjeta*/ 
    position: relative; /*Esto es porque como hay una parte frente y un posterior, al codificar ambos lados, se posicionan una debajo de la primera, esto hace que se superposicionen*/ 
    color: #fff; /*qyue el texto sea de color blanco*/ 
    transition: .3s ease all; /*Una propiedad de transicion de 0.3s con una funcion "ease all" para todas la propiedades*/ 
    transform: rotateY(0deg); /*esto es para que por defecto, tenga una rotacion de 0 grados, esto es, que quede fija y no se mueva*/
    transform-style: preserve-3d; /*el valor de "preserve-3d", es muy importante para poder conseguir el giro de adelante hacia atras y viceversa*/
    backface-visibility: hidden; /*esto es para que cuando gire la tarjeta, la parte de atra este oculta, y solo se muestre la parte de la tarjeta que debe verse*/
    cursor: pointer; /*cambia de forma el cursor cuando entra al area del div*/
    z-index: 2; /*esto le da la segunda posicion en la visualizacion, porque va el boton de despliegue, la tarjeta con sus dos lados y el formulario con los datosy queda hasta arriba el boton (3ro), la tarjeta (2do), formulario (1ro)*/ /**/ /**/ /**/ /**/
}

.tarjeta.active{ /*usamos .tarjeta:hover{} pero con solo pasar el cursor encima, gira la imagen de la tarjeta sin parar, entonces para solucionar esto usamos .tarjeta.active, pero el ".active", es una funcion que haremos con javascript*/
    transform: rotateY(180deg);
}

.tarjeta > div { /*dado que se ocupa un div para ambos lados de la tarjeta se hace el estilo accediendo a la clase y luego modificamos el div*/
    padding: 30px; /*un relleno de 30px*/
    border-radius: 15px; /*un borde redondeado en las pumtas de 15px*/
    min-height: 315px; /*una altura minima de 315px*/
    display: flex; /*vamos a trabajar con un contenedor flexible*/
    flex-direction: column; /*la direccion sera de tipo columna*/
    justify-content: space-between; /*justificaremos el contenido con un espacio entre los elementos*/
    box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3); /*el sombreado sera de 0px hacia abajo, 10px hacia la derecha, 0px de tamaño, y un color de 0.3 de opacidad*/
}
/*EMPIEZA TARJETA DELANTERA */
.tarjeta .delantera { /*accedemos a la clase delantera*/
    width: 100%; /*le damos un ancho del 100%*/
    background: url(../Image/fondosTarjeta/fondo2.png); /*forma de utilizar "url" para imagenes descargadas y no de un enlace*/
    background-size: cover; /*cambia el tamaño de la imagen de fondo para cubrir el contenedor entero, incluso si se tiene que estirar o cortar un poco uno de los bordes*/
}

.delantera .logo-marca { /*accedemos a la clase delantera y luego a la clase logo-marca*/
    text-align: right; /*alineamos la imagen a la derecha*/
    min-height: 50px; /*le damos una altura minima de 50px*/
}

.delantera .logo-marca img { /*accedemos a la clase delantera, luego a su clase hija logo-marca, para modficar la imagen contenida*/
    width: 100%; /*un ancho del 100%*/
    height: 100%; /*una altura del 100%*/ 
    object-fit: cover; /*la imagen mantiene su aspecto y llena la dimension dada, la imagen es recortada para que quepa*/
    max-width: 80px; /*la imagen solo tendra como maximo de ancho 80px*/ 
}

.delantera .chip { /*accedemos a la clase delantera, para acceder a la clase chip*/
    width: 100%; /*le damos ancho del 100%*/
    max-width: 50px; /*un ancho maximo de 50px*/
    margin-bottom: 20px; /*le damos un margen inferior de 20px*/
}

.delantera .grupo .label { /*accedemos a la clase delantera, para acceder a la clase grupo y modificar la clase hija label*/
    font-size: 16px; /*le damos un tamño de letra de 16px*/
    color: #7d8994; /*le damos un color de fuente*/
    margin-bottom: 5px; /*le damos un margen inferior de 5px*/
}

.delantera .grupo .numero,  
.delantera .grupo .nombre,
.delantera .grupo .expiracion { /*de esta forma podemos darle formato a cada uno de los grupos, separando por una coma*/ 
    color: #fff; /*le damos un color blanco*/
    font-size: 22px; /*le damos un tamaño de fuente de 22px*/
    text-transform: uppercase; /*le damos un text-transform con propiedad uppercase, para asegurarse que ya sea que se escriba en mayusculas o minusculas, lo transforme a mayuscula*/
}

.delantera .flexbox { /*debido a que ingresamos los datos en un div, le damos la propiedad flex para modificarlo*/
    display: flex; /*esto hara flexible este contenedor y de momento movera un div a lado del otro hasta que se modifique en la siguiente linea*/
    justify-content: space-between; /*para separar los div de nombre y expiracion*/
    margin-top: 20px; /*le damos un margen de 20px*/
}
/*EMPIEZA TARJETA TRASERA*/
.trasera {
    background: url(../Image/fondosTarjeta/fondo7.png); /*agregamos una imagen a la parte trasera*/
    background-size: cover; /*cambia el tamaño de la imagen de fondo para cubrir el contenedor entero, incluso si se tiene que estirar o cortar un poco uno de los bordes*/
    position: absolute; /*esto nos hace que latarjeta trasera se muestre cuando la tarjeta gire*/
    top: 0; /*la propiedad top establece el borde superior de un elemento a una unidad por encima/debajo del borde superior de su antepasado posicionado más cercano. Es importante que antes de usar el absoluto en esta parte de la tarjeta, y el posicionamiento de "top 0", va a llevar la parte trasera a arriba. ESTO HACE QUE LA PARTE TRASERA SE POSICIONE ENCIMA DE LA PARTE DELANTERA*/
    transform: rotateY(180deg); /*esto va a girar la tarjeta 180° y las letras se veran alreves, pero la siguiente propiedad va arreglar esta situacion*/
    backface-visibility: hidden; /*va a ocultar la parte trasera*/
}

.trasera .barra-magnetica {
    height: 40px; /*define el alto de la barra magnetica*/
    background: #000; /*define el color de la barra*/
    width: 100%; /*define el ancho de la barra magnetica*/
    position: absolute; /*con los estilos anteriores la barra apareece desfazada y fuera del contenedor, por lo que al usar esta propiedad, coloca la barra en el lugar que queremos pero desfasada, ahora sólo toca acomodarla con las siguientes propiedades*/
    top: 30px; /*esto movera 35px hacia abajo de la parte de arriba, pero la barra sigue desfazada, por lo que necesitamos moverla con la siguiente propiedad*/
    left: 0; /*esto movera a la posicion 0px, es decir, al inicio del contenedor*/
}

.trasera .datos {
    margin-top: 60px; /*esto baja todos los datos de FIRMA, CCV, LOREM y el CORREO DEL BANCO para que se puedan visualizar, ya que la barra magnetica los estaba tapando*/
    display: flex; /*esto le dice al contenedor de los datos que queremos un contenedor flexible*/
    justify-content: space-between; /*esto hace un espacio entre elementos hasta que se modifique con otras etiquetas*/
}

.trasera .datos p {
    margin-bottom: 5px; /*esto hara que se separe por 5px la etiqueta "p" de FIRMA Y CCV del contenedor de abajo con el lorem*/
}

.trasera .datos #firma {
    width: 70%; /*esto nos dara un ancho del 70% del contenedor donde va la firma*/
}

.trasera .datos #firma .firma{ /*aunque es confuso, se esta accediendo a la parte TRASERA,, al contenedor DATOS, mismo que contiene al contenedor de id=FIRMA, que contiene las etiquetas "p" y el contenedor de clase FIRMA*/    
    height: 40px; /*le damos una altura de 40px*/
    background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px); /*le damos un fondo de gradiente*/
}

.trasera .datos #firma .firma p {
    line-height: 40px; /*esto crea una linea de altura del mismo tamaño que se hizo en el estilo anterior de arribe*/
    font-family: 'Liu Jian Mao Cao', cursive; /*ocupamos la fuente que nombramos en el html, y en caso de no encontrarla que la haga cursiva*/
    color: #000; /*color de texto negro*/
    font-size: 30px; /*un tamaño de fuente de 30px*/
    padding: 0 10px; /*le estamos poniendo un RELLENO ARRIBA Y ABAJO de 0px y en la IZQUIERDA y DERECHA de 10px*/
    text-transform: capitalize; /*esto hace que todas las palabras que escribamos aparezcan con la primer letra mayuscula y las demas minusculas en cada palabra*/
}

.trasera .datos #cvv {
    width: 20%;  /*esto nos dara un ancho del 20% del contenedor donde va la ccv*/
}

.trasera .datos #cvv .cvv {
    background: #fff; /*esto nos dara un fondo blanco*/
    height: 40px; /*una altura de 40px que similar a la altura de la firma*/
    color: #000; /*le agregamos un color negro a la letra*/
    padding: 10px; /*si solo ponemos una cantidad, aplica a todos los lados de 10px*/
    text-align: center; /*esto hace que el texto quede aliniado*/
}

.trasera .leyenda {
    font-size: 14px; /*le damos un tamño de letra de 14px a la leyenda*/
    line-height: 24px; /*una altura de linea de 24px*/
}

.trasera .link-banco {
    font-size: 14px; /*al igual que la leyenda, le damos un tamaño de letra de 14px*/
    color: #fff; /*y un color de letra color blanco*/
}

/*EMPIEZA CONTENEDOR DEL BOTON*/
.contenedor-btn .btn-abrir-formulario {
    width: 50px; /*le damos un ancho de 50px*/
    height: 50px; /*le damos un alto de 50px*/
    font-size: 20px; /*el tamaño de la fuente es de 20px*/
    line-height: 20px;  /*le damos un alto de linea de 20px*/
    background: #2364d2; /*le damos un fondo de color negro*/
    color: #fff; /*color de texto color blanco*/
    position: relative; /*la posicion del boton con esta propiedad lo coloca enseguida debajo de la tarjeta, entonces para poderlo subir y que el boton quede una mitad en la tarjeta y otra por fuera usaremos la propiedad "top"*/
    top: -25px; /*al darle un valor negativo de -25px, lo que haremos, será subir el boton y quede de la forma que queremos, pero quedara la mitad oculta o detras de la tarjeta, y lo arreglaremos con la siguiente propiedad*/
    z-index: 3; /*esto hara que el boton quede encima de todo pues el numero 3, representa la 3ra posicion, ya que el formulario es el 1ro, la tarjeta es la 2da, y el boton queda en 3ro*/
    border-radius: 50%; /*esto hara que el boton pase de cuadrado a redondo*/
    box-shadow: -5px 4px 8px rgba(24, 56, 182, 0.4); /*hacemos un desplazamiento de 5px horizontal, un desplazamiento de 4px vertical y un color difuminado en 8px con una opacidad de 0.4*/
    padding: 5px; /*le damos un relleno de 5px*/
    transition: .3s ease all; /*que tenga una transicion para TODAS LAS PROPIEDADES, de .2segundos con una funcion de tiempo ease (efecto de inicio lento, luego rapido, luego lentamente(esto es por defecto))*/
    border: none; /*esto quita el borde que aagrega el navegador*/
    cursor: pointer; /*que cambie el puntero*/
}

.contenedor-btn .btn-abrir-formulario:hover {
    background: #1850b1; /*al pasar con el puntero sobre el boton, el color de fondo va a cambiar a un tono mas oscuro*/
}

.contenedor-btn .btn-abrir-formulario.active { /*aqui sera cuando tenga la clase active,, quiero que tenga los siguientes estilos*/
    transform: rotate(45deg); /*el transform va a hacer que rote 45°*/
}

/*EMPIEZA FORMULARIO TARJETA*/  
.formulario-tarjeta {
    background: #fff; /*le damos un fondo blanco*/
    width: 100%; /*le damos un ancho de 100%*/
    max-width: 700px; /*le damos un maximo de ancho de 700px*/
    padding: 150px 30px 30px 30px; /*le damos un relleno de 150px arriba, 30px derecha, 30px abajo y 30px izquierda*/
    border-radius: 10px; /*redondeamos las esquinas 10px*/
    position: relative; /*esto es importante para desplazarnos nuestro menu*/
    top: -150px; /*le decimos que suba el formulario con ayuda del signo -, unos 150px que es la misma cantidad que se le dio de padding*/
    z-index: 1; /*le decimos que el indice de este elemento sera el #1, ya que el #2, es la tarjeta y el #3 es el boton*/
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); /*con el estilo "clip-path" se puede hacer la animacion de que al dar clic en el boton, aparece y desaparece el formulario, ahora la propiedad de "polygon", con las coordenadas (0 0, ), el primer 0 es de izquierda a derecha y el segundo 0 es de arriba a abajo, luego le digo, que el poligono vaya hacia la coordenada (100% 0) derecha y arriba a abajo*/
    transition: clip-path .3s ease-out; /*que tenga una transicion con la popiedad "clip-path", de .3segundos con una funcion de tiempo ease-out (efecto de termino lento) */
}

.formulario-tarjeta.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); /*con el estilo "clip-path" se puede hacer la animacion de que al dar clic en el boton, aparece y desaparece el formulario, ahora la propiedad de "polygon", con las coordenadas (0 0, ), el primer 0 es de izquierda a derecha y el segundo 0 es de arriba a abajo, luego le digo, que el poligono vaya hacia la coordenada (100% 0) derecha y arriba a abajo*/
}

.formulario-tarjeta label {
    display: block; /*le decimos que tenga un display para que abarque todo el espacio disponible*/
    color: #7d8994; /*color de texto gris*/
    margin-bottom: 5px; /*margen inferior de 5px*/
    font-size: 16px; /*tamao de fuente de 16px*/
}

.formulario-tarjeta input,
.formulario-tarjeta select,
.btn-enviar { /*daremos un estilo similar a los inputs, seelcts y el boton de enviar*/
    border: 2px solid #ced6e0; /*le damos un borde, que sea solido y ademas un color*/
    font-size: 18px; /*un tamaño de fuente de 18px*/
    height: 50px; /*una altura de 50px*/ 
    width: 100%; /*un ancho del 100%*/
    padding: 5px 12px; /*le damos un relleno de 5px arriba y abajo, 12px a izquierda y derecha*/
    transition: .3s ease all; /*una transicion de .3s con una funcion ease all*/
    border-radius: 5px; /*que tenga un borde de 5px redondeado*/ 
}

.formulario-tarjeta input:hover,
.formulario-tarjeta select:hover { /*decimos que los inputs como los selects en su estado hover tengan lo siguiente*/
    border: 2px solid #93bded; /*que tenga un borde de 2px, solido y un color*/
}

.formulario-tarjeta input:focus,
.formulario-tarjeta select:focus { /*decimos que los inputs como los selects en su estado focus tengan lo siguiente*/
    outline: rgb(4, 4, 4); /*hacemos un contorno (outline) que se dibuja fuera del borde para que el elemento destaque, con un color de 4, 4, 4)*/
    box-shadow: 1px 7px 10px -5px rgba(90, 16, 118, 0.3); /*una sombra de 1px derecha, 7px abajo, 10px de difuminado y -5px de dispersion con un color rgba*/
}

.formulario-tarjeta input {
    margin-bottom: 20px; /*le damos un margen inferior de 20px*/
    text-transform: uppercase; /*que cuando escriba, todo aparezca en mayuscula*/
}

.formulario-tarjeta .flexbox {
    display: flex; /*le damos un display de tipo flex*/
    justify-content: space-between; /*hacemos que  los elementos tengan el mismo espacio entre ellos*/
}

.formulario-tarjeta .expira {
    width: 100%; /*le damos un ancho del 100%*/
}

.formulario-tarjeta .cvv {
    min-width: 100px; /*le damos un ancho minimo de 100px*/
}

.formulario-tarjeta .grupo-select {
    width: 100%; /*le damos un ancho del 100%*/
    margin-right: 15px; /*que entre los elementos del grupo haya un margin dercho de 15px*/
    position: relative; /*le damos un posicionamiento relativo para que cuando pongamos el icono fontawesome, podamos darle un posicionamiento mediante corrdenadas*/
}

.formulario-tarjeta select{
    -webkit-appearance: none; /*con esto le quito la apariencia del icono que trae por defecto con el navegador el select*/
}




 /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**//**/ /**/ /**//**/ /**/ /**/
