* { /*configuracion para quitar la del navegador*/
    padding: 0; /*relleno de 0*/
    margin: 0; /*margin de 0*/
    box-sizing: border-box; /*box-sizing nos permite incluir el relleno y el borde en la anchura y altura totales de un elemento.*/
}

body { /*cambiamos el color de la pagina*/
    background: #ddeefc; /*le damos un color al fondo*/
    font-family: 'Lato', sans-serif; /*escogemos un tipo de fuente, y en este caso si no encuentra un tipo de letra, escogera el otro estilo*/
}

/*EMPIEZA LA SECCION DEL ESTILO DEL CONTENEDOR GENERAL*/
.contenedor { /*configuramos el contenedor general*/
    width: 90%; /*le damos un ancho de pagina*/
    max-width: 1000px; /*pero le decimos que como maximo tenga solo 1000px de ancho*/
    padding: 40px 20px; /*que tenga un relleno de 40px arriba, y 20px a los lados*/
    margin: auto; /*le decimos que tenga un margen auto para centrar la pagina de forma horizontal*/
    display: flex; /*todo el contenido dentro del contenedor, es decir, los hijos, los quiero trabajar con el display*/
    flex-direction: column; /*esta configuracion es para que nos configure y alinie los elementos en forma de columna (la tarjeta, el boton y el formulario) y no se coloquen uno al lado del otro*/
    align-items: center; /*no podemos ocupar la propiedad de justify-content:center, esto es porque utilizamos el flex-direction:column, en su lugar usamos align-items:center*/
    background: grey; /*le damos un fondo para ver nuestra area*/
}
/*--ESTILOS GENERALES DE LAS TARJETAS--*/
.tarjeta { /*accedemos a la seccion de la tarjeta*/
    width: 100%; /*le damos un ancho del 100%*/
    max-width: 550px; /*para que la tarjeta no sea demasiado grande porque en realidad es casi del tamaño de una real tarjeta*/ 
    position: relative; /*Esto es porque como hay una parte frente y un posterior, al codificar ambos lados, se posicionan una debajo de la primera, esto hace que se superposicionen*/ 
    color: #fff; /*qyue el texto sea de color blanco*/ 
    transition: .3s ease all; /*Una propiedad de transicion de 0.3s con una funcion "ease all" para todas la propiedades*/ 
    transform: rotateY(0deg); /*esto es para que por defecto, tenga una rotacion de 0 grados, esto es, que quede fija y no se mueva*/
    transform-style: preserve-3d; /*el valor de "preserve-3d", es muy importante para poder conseguir el giro de adelante hacia atras y viceversa*/
    backface-visibility: hidden; /*esto es para que cuando gire la tarjeta, la parte de atra este oculta, y solo se muestre la parte de la tarjeta que debe verse*/
    cursor: pointer; /*cambia de forma el cursor cuando entra al area del div*/
    z-index: 2; /*esto le da la segunda posicion en la visualizacion, porque va el boton de despliegue, la tarjeta con sus dos lados y el formulario con los datosy queda hasta arriba el boton (3ro), la tarjeta (2do), formulario (1ro)*/ /**/ /**/ /**/ /**/
}

.tarjeta.active{ /*usamos .tarjeta:hover{} pero con solo pasar el cursor encima, gira la imagen de la tarjeta sin parar, entonces para solucionar esto usamos .tarjeta.active, pero el ".active", es una funcion que haremos con javascript*/
    transform: rotateY(180deg);
}

.tarjeta > div { /*dado que se ocupa un div para ambos lados de la tarjeta se hace el estilo accediendo a la clase y luego modificamos el div*/
    padding: 30px; /*un relleno de 30px*/
    border-radius: 15px; /*un borde redondeado en las pumtas de 15px*/
    min-height: 315px; /*una altura minima de 315px*/
    display: flex; /*vamos a trabajar con un contenedor flexible*/
    flex-direction: column; /*la direccion sera de tipo columna*/
    justify-content: space-between; /*justificaremos el contenido con un espacio entre los elementos*/
    box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3); /*el sombreado sera de 0px hacia abajo, 10px hacia la derecha, 0px de tamaño, y un color de 0.3 de opacidad*/
}
/*EMPIEZA TARJETA DELANTERA */
.tarjeta .delantera { /*accedemos a la clase delantera*/
    width: 100%; /*le damos un ancho del 100%*/
    background: url(../Image/fondosTarjeta/fondo2.png); /*forma de utilizar "url" para imagenes descargadas y no de un enlace*/
    background-size: cover; /*cambia el tamaño de la imagen de fondo para cubrir el contenedor entero, incluso si se tiene que estirar o cortar un poco uno de los bordes*/
}

.delantera .logo-marca { /*accedemos a la clase delantera y luego a la clase logo-marca*/
    text-align: right; /*alineamos el taxto a la izquierda*/
    min-height: 50px; /*le damos una altura minima de 50px*/
}

.delantera .logo-marca img { /*accedemos a la clase delantera, luego a su clase hija logo-marca, para modficar la imagen contenida*/
    width: 100%; /*un ancho del 100%*/
    height: 100%; /*una altura del 100%*/ 
    object-fit: cover; /*la imagen mantiene su aspecto y llena la dimension dada, la imagen es recortada para que quepa*/
    max-width: 80px; /*la imagen solo tendra como maximo de ancho 80px*/ 
}

.delantera .chip { /*accedemos a la clase delantera, para acceder a la clase chip*/
    width: 100%; /*le damos ancho del 100%*/
    max-width: 50px; /*un ancho maximo de 50px*/
    margin-bottom: 20px; /*le damos un margen inferior de 20px*/
}

.delantera .grupo .label { /*accedemos a la clase delantera, para acceder a la clase grupo y modificar la clase hija label*/
    font-size: 16px; /*le damos un tamño de letra de 16px*/
    color: #7d8994; /*le damos un color de fuente*/
    margin-bottom: 5px; /*le damos un margen inferior de 5px*/
}

.delantera .grupo .numero,  
.delantera .grupo .nombre,
.delantera .grupo .expiracion { /*de esta forma podemos darle formato a cada uno de los grupos, separando por una coma*/ 
    color: #fff; /*le damos un color blanco*/
    font-size: 22px; /*le damos un tamaño de fuente de 22px*/
    text-transform: uppercase; /*le damos un text-transform con propiedad uppercase, para asegurarse que ya sea que se escriba en mayusculas o minusculas, lo transforme a mayuscula*/
}

.delantera .flexbox { /*debido a que ingresamos los datos en un div, le damos la propiedad flex para modificarlo*/
    display: flex; /*esto hara flexible este contenedor y de momento movera un div a lado del otro hasta que se modifique en la siguiente linea*/
    justify-content: space-between; /*para separar los div de nombre y expiracion*/
    margin-top: 20px; /*le damos un margen de 20px*/
}
/*EMPIEZA TARJETA TRASERA*/
.trasera {
    background: url(../Image/fondosTarjeta/fondo7.png); /*agregamos una imagen a la parte trasera*/
    background-size: cover; /*cambia el tamaño de la imagen de fondo para cubrir el contenedor entero, incluso si se tiene que estirar o cortar un poco uno de los bordes*/
    position: absolute; /*esto nos hace que latarjeta trasera se muestre cuando la tarjeta gire*/
    top: 0; /*la propiedad top establece el borde superior de un elemento a una unidad por encima/debajo del borde superior de su antepasado posicionado más cercano. Es importante que antes de usar el absoluto en esta parte de la tarjeta, y el posicionamiento de "top 0", va a llevar la parte trasera a arriba. ESTO HACE QUE LA PARTE TRASERA SE POSICIONE ENCIMA DE LA PARTE DELANTERA*/
    transform: rotateY(180deg); /*esto va a girar la tarjeta 180° y las letras se veran alreves, pero la siguiente propiedad va arreglar esta situacion*/
    backface-visibility: hidden; /*va a ocultar la parte trasera*/
}

.trasera .barra-magnetica {
    height: 40px; /*define el alto de la barra magnetica*/
    background: #000; /*define el color de la barra*/
    width: 100%;position: absolute; /*define el ancho de la barra magnetica*/
    position: absolute; /*con los estilos anteriores la barra apareece desfazada y fuera del contenedor, por lo que al usar esta propiedad, coloca la barra en el lugar que queremos pero desfasada, ahora sólo toca acomodarla con las siguientes propiedades*/
    top: 30px; /*esto movera 35px hacia abajo de la parte de arriba, pero la barra sigue desfazada, por lo que necesitamos moverla con la siguiente propiedad*/
    left: 0; /*esto movera a la posicion 0px, es decir, al inicio del contenedor*/
}

.trasera .datos {
    margin-top: 60px; /*esto baja todos los datos de FIRMA, CCV, LOREM y el CORREO DEL BANCO para que se puedan visualizar, ya que la barra magnetica los estaba tapando*/
    display: flex; /*esto le dice al contenedor de los datos que queremos un contenedor flexible*/
    justify-content: space-between; /*esto hace un espacio entre elementos hasta que se modifique con otras etiquetas*/
}

.trasera .datos P {
    margin-bottom: 5px; /*esto hara que se separe por 5px la etiqueta "p" de FIRMA Y CCV del contenedor de abajo con el lorem*/
}

.trasera .datos #firma {
    width: 70%; /*esto nos dara un ancho del 70% del contenedor donde va la firma*/
}

.trasera .datos #firma .firma{ /*aunque es confuso, se esta accediendo a la parte TRASERA,, al contenedor DATOS, mismo que contiene al contenedor de id=FIRMA, que contiene las etiquetas "p" y el contenedor de clase FIRMA*/    
    height: 40px; /*le damos una altura de 40px*/
    background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px); /*le damos un fondo de gradiente*/
}

.trasera .datos #firma .firma p {
    line-height: 40px; /*esto crea una linea de altura del mismo tamaño que se hizo en el estilo anterior de arribe*/
    font-family: 'Liu Jian Mao Cao', cursive; /*ocupamos la fuente que nombramos en el html, y en caso de no encontrarla que la haga cursiva*/
    color: #000; /*color de texto negro*/
    font-size: 30px; /*un tamaño de fuente de 30px*/
    padding: 0 10px; /*le estamos poniendo un RELLENO ARRIBA Y ABAJO de 0px y en la IZQUIERDA y DERECHA de 10px*/
     text-transform: capitalize; /*esto hace que todas las palabras que escribamos aparezcan con la primer letra mayuscula y las demas minusculas en cada palabra*/
}

.trasera .datos #cvv {
    width: 20%;  /*esto nos dara un ancho del 20% del contenedor donde va la ccv*/
}